<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Book notes | <%=title%></title>
  </head>
  <body>
    <h1 class="">Books we’ve read</h1>

    <% if (locals.error){%>
    <p class="error"><%= error %></p>
    <% } %>
    <!-- Users list -->
    <div>
      <% if (locals.users){ %>
      <div class="container" id="users">
        <h2 class="header">Who's making notes?</h2>
        <div class="usersList">
          <% if (locals.users){ %> <% for (user of users){ %>
          <div class="user">
            <form method="POST" action="/user">
              <input
                type="submit"
                name="user"
                value="<%= user.id %>"
                id="<%= user.id %>"
                class="inputHidden"
              />
              <label
                for="<%= user.id %>"
                style="background-color: <%= user.color %>"
                class="tile"
              >
                <p><%= user.name %></p>
              </label>
            </form>

            <!-- Delete user form -->
            <form method="POST" action="/user/delete/<%=user.id%>">
              <button id="deleteBtn<%=user.id%>" class="btn deleteBtn">
                x
              </button>
            </form>
            <!-- end Delete user form -->
          </div>
          <% } %> <% } %> <% if (users.length < 5){%>
          <button class="tile newUserBtn" onclick="openUserForm()">
            <p>+</p>
          </button>
          <% } %>
        </div>

        <!-- Add user form -->
        <form action="/user/add" method="POST" id="newUserForm" hidden>
          <hr class="userHr" />
          <p class="user">What's your name?</p>
          <input type="text" name="name" class="userInput" required />

          <p class="user">Pick a color:</p>
          <input type="radio" name="color" id="red" value="red" />
          <label for="red"><span class="red"></span></label>

          <input type="radio" name="color" id="green" value="green" />
          <label for="green"><span class="green"></span></label>

          <input type="radio" name="color" id="yellow" value="yellow" />
          <label for="yellow"><span class="yellow"></span></label>

          <input type="radio" name="color" id="olive" value="olive" />
          <label for="olive"><span class="olive"></span></label>

          <input type="radio" name="color" id="orange" value="orange" />
          <label for="orange"><span class="orange"></span></label>

          <input type="radio" name="color" id="teal" value="teal" />
          <label for="teal"><span class="teal"></span></label>

          <input type="radio" name="color" id="blue" value="blue" />
          <label for="blue"><span class="blue"></span></label>

          <input type="radio" name="color" id="violet" value="violet" />
          <label for="violet"><span class="violet"></span></label>

          <input type="radio" name="color" id="purple" value="purple" />
          <label for="purple"><span class="purple"></span></label>

          <input type="radio" name="color" id="pink" value="pink" />
          <label for="pink"><span class="pink"></span></label>
          <div class="spacer"></div>
          <button type="submit" class="btn addUserBtn">Add</button>

          <a href="/user" class="btn btnBack">Back</a>
        </form>
        <!-- end Add user form -->
      </div>
      <% } %>
    </div>
    <!-- end Users list -->
    <!-- Add new book -->
    <div id="optionsBox" class="optionsBox">
      <% if (locals.isUserVerify === "true"){ %>
      <button id="addBookBtn" onclick="createNewBook()" class="btn addBookBtn">
        + Book
      </button>
      <% } %> <% if ((locals.books) && (books.length > 0)){ %>
      <form action="/user/sort" method="POST" id="sortForm" class="sortForm">
        <p>Sort by:</p>
        <button
          type="submit"
          name="sortBy"
          value="dateASC"
          class="btn sortBookBtn"
        >
          The oldest
        </button>
        <button
          type="submit"
          name="sortBy"
          value="dateDESC"
          class="btn sortBookBtn"
        >
          The newest
        </button>
      </form>
      <% } %>
    </div>

    <% if (locals.isUserVerify === "true"){ %>
    <hr class="optionsHr" />
    <% } %>

    <div>
      <div id="newCover" class="newCover" hidden>
        <h2>Search book cover:</h2>
        <!-- Search cover form -->
        <form method="POST" action="/api/search">
          <input type="text" name="q" placeholder="e.g. Jurassic Park" />
          <button type="submit" class="btn searchBookBtn">Search</button>
        </form>
        <!-- end Search cover form -->
        <hr class="optionsHr" />
      </div>
      <div class="">
        <!-- Add book form -->
        <form method="POST" action="/book/add">
          <input type="hidden" id="choosenCover" name="choosenCover" value="" />

          <% if ((locals.coverIds) && (coverIds.length > 0)){ %>
          <hr class="userHr" />
          <h2>Choose one from the available covers:</h2>
          <% for (coverId of coverIds){ %>
          <img
            onclick="handler('<%= coverId %>')"
            id="cover<%= coverId %>"
            class="covers"
            src="https://covers.openlibrary.org/b/id/<%= coverId %>.jpg"
          />
          <% } %> <br />
          <div class="newBookBox">
            <input
              type="text"
              name="title"
              placeholder="Title"
              class="coverInput"
              required
            />
            <input
              type="text"
              name="author"
              placeholder="Author"
              class="coverInput"
              required
            />
            <textarea
              type="text"
              name="notes"
              placeholder="Notes"
              rows="5"
              class="coverInput"
              required
            ></textarea>
            <input
              type="date"
              id="date"
              name="date"
              placeholder="Date"
              class="coverInput"
              required
            />

            <button type="submit" class="btn addCoverBtn">Add book</button>

            <a href="/user" class="btn btnBack">Back</a>
          </div>
          <% } %>
        </form>
        <!-- end Add book form -->
      </div>
    </div>
    <!-- end Add new book -->
    <!-- Books list -->
    <div>
      <% if (locals.users){ %>
      <div>
        <% if (locals.books){ for (book of books) {%>
        <div class="booksList">
          <!-- Edit book data form -->
          <form
            method="POST"
            action="/book/edit/<%=book.id%>"
            id="editForm<%=book.id%>"
            hidden
          >
            <input
              id="editTitle<%=book.id%>"
              class="bookData"
              type="text"
              name="updatedTitle"
              value="<%= book.title %>"
              autocomplete="off"
            />
            <input
              id="editAuthor<%=book.id%>"
              class="bookData"
              type="text"
              name="updatedAuthor"
              value="<%= book.author %>"
              autocomplete="off"
            />
            <input
              id="editDate<%=book.id%>"
              class="bookData"
              type="date"
              name="updatedDate"
              value="<%= book.date %>"
              autocomplete="off"
            />
            <textarea
              id="editNotes<%=book.id%>"
              class="bookData"
              type="text"
              name="updatedNotes"
              rows="5"
              autocomplete="off"
            >
<%= book.notes %></textarea
            >
            <button
              id="doneBtn<%=book.id%>"
              class="btn doneEditBookBtn"
              type="submit"
            >
              Done
            </button>
            <a href="/user" class="btn btnBack">Back</a>
          </form>
          <!-- end Edit data form -->

          <div id="bookData<%=book.id%>">
            <div class="bookWidget">
              <% if (book.cover_id) { %>
              <img
                src="https://covers.openlibrary.org/b/id/<%=book.cover_id%>.jpg"
              />
              <%} else{ %>
              <img
                src="/assets/icons/file-person.svg"
                alt="unknown"
                class="empty"
              /><% } %>

              <div class="bookDescription">
                <p class="bookTitle"><%= book.title %></p>
                <p class="bookAuthor">
                  <span class="text">by</span> <%= book.author %>
                </p>
                <p>Date read: <%= book.date %></p>
                <p>Notes:</p>
              </div>
            </div>

            <p class="bookNotes"><%= book.notes %></p>
          </div>

          <div class="bookSettingsBox">
            <div id="editBtn<%=book.id%>">
              <button
                class="btn editBookBtn"
                onclick="editHandler('<%=book.id%>')"
              >
                Edit
              </button>
            </div>
            <!-- Delete data form -->
            <form
              method="POST"
              action="/book/delete/<%=book.id%>"
              id="deleteBookForm<%=book.id%>"
            >
              <button id="deleteBtn<%=book.id%>" class="btn deleteBookBtn">
                Delete
              </button>
            </form>
            <!-- end Delete data form -->
          </div>
          <hr class="bookListHr" />
        </div>
        <% }} %>
      </div>
      <% } %>
    </div>
    <!-- end Books list -->

    <script>
      function handler(id) {
        const convertedIds =
          "<% if (locals.coverIds){%><%= coverIds %><%}%>".split(",");

        var choosenCover = document.getElementById("cover" + id);
        choosenCover.classList.add("frame");
        document.getElementById("choosenCover").value = id;

        setTimeout(function () {
          for (convertedId of convertedIds) {
            if (convertedId !== id) {
              console.log("cover" + convertedId);

              var otherCover = document.getElementById("cover" + convertedId);
              otherCover.setAttribute("hidden", true);
            }
          }
        }, 400);
      }
    </script>
    <script>
      function createNewBook() {
        document.getElementById("newCover").toggleAttribute("hidden");
      }
    </script>
    <script>
      function editHandler(id) {
        document.getElementById("bookData" + id).setAttribute("hidden", true);

        document.getElementById("editBtn" + id).setAttribute("hidden", true);
        document
          .getElementById("deleteBookForm" + id)
          .setAttribute("hidden", true);

        document.getElementById("doneBtn" + id).removeAttribute("hidden");
        document.getElementById("editForm" + id).removeAttribute("hidden");
      }
    </script>
    <script>
      function openUserForm() {
        document.getElementById("newUserForm").toggleAttribute("hidden");
      }
    </script>
    <script>
      document.getElementById("date").value = new Date()
        .toISOString()
        .substring(0, 10);
    </script>
  </body>
</html>
