<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Book notes</title>
  </head>
  <body>
    <h1>Hello world!</h1>
    <% if (locals.error) {%>
    <p class="error"><%= error %></p>
    <% } %>
    <button id="addBtn" onclick="createNewBook()">Create new</button>
    <div>
      <div id="newCover" hidden>
        <h2>Search book cover:</h2>
        <form method="POST" action="/api/search">
          <input type="text" name="q" />
          <button type="submit">Search</button>
        </form>
      </div>
      <div class="">
        <form method="POST" action="/add">
          <input type="hidden" id="choosenCover" name="choosenCover" value="" />

          <% if (locals.coverIds && coverIds.length > 0){ %>
          <h2>Choose one from the available covers:</h2>
          <% for(coverId of coverIds){ %>
          <img
            onclick="handler('<%= coverId %>')"
            id="cover<%= coverId %>"
            class="covers"
            src="https://covers.openlibrary.org/b/id/<%= coverId %>.jpg"
          />
          <% } %> <br />
          <input type="text" name="title" placeholder="title" required />
          <button type="submit" onclick="sendMessage()">Add book</button> <% }
          %>
        </form>
      </div>
    </div>
    <script>
      function handler(id) {
        const convertedIds =
          "<% if(locals.coverIds){%><%= coverIds %><%}%>".split(",");

        var cover = document.getElementById("cover" + id);
        cover.classList.add("frame");
        document.getElementById("choosenCover").value = id;

        setTimeout(function () {
          for (convertedId of convertedIds) {
            if (convertedId !== id) {
              console.log("cover" + convertedId);

              var image = document.getElementById("cover" + convertedId);
              image.setAttribute("hidden", true);
            }
          }
        }, 400);
      }
    </script>
    <script>
      function createNewBook() {
        document.getElementById("addBtn").setAttribute("hidden", true);
        document.getElementById("newCover").removeAttribute("hidden");
      }
    </script>
  </body>
</html>
